NODE_ENV=development
PORT=4000
JWT_SECRET=change-me
DATABASE_URL=postgres://genfren:genfren@localhost:5432/genfren
REDIS_URL=redis://localhost:6379
BRADBURY_TREASURY_ADDRESS=0x5905c9Dea6Ae52AA0947D8F7F218263889eDfC4E
PLATFORM_PRIVATE_KEY=0x
STUDIONET_RPC_URL=
BRADBURY_RPC_URL=https://rpc-bradbury.genlayer.com
FACTORY_CONTRACT_ADDRESS=
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_BRADBURY_TREASURY_ADDRESS=0x5905c9Dea6Ae52AA0947D8F7F218263889eDfC4E
NEXT_PUBLIC_BRADBURY_RPC_URL=https://rpc-bradbury.genlayer.com
NEXT_PUBLIC_STUDIONET_RPC_URL=
